body {
    background-color: white;
}

h2 {
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}


.celebratory-message {
    cursor: pointer;
}

.celebratory-message:hover .emoji {
    display: inline-block;
    animation: emoji-fall 2s forwards;
}

.emoji {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
}

@keyframes emoji-fall {
    0% { transform: translateY(-100%); opacity: 1; }
    100% { transform: translateY(100%); opacity: 0; }
}

.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ff0;
    border-radius: 50%;
    animation: particle-fall 1s forwards;
}

@keyframes particle-fall {
    0% { transform: translateY(-50px); opacity: 1; }
    100% { transform: translateY(50px); opacity: 0; }
}

.particle.red { background: #ff0000; }
.particle.green { background: #00ff00; }
.particle.blue { background: #0000ff; }
.particle.purple { background: #800080; }
.particle.orange { background: #ffa500; }

.loading-icon {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-outline-secondary.custom-active {
    border-color: rgb(229, 255, 242);
    background-color: rgb(229, 255, 242) !important; /* Hint of green */
}

.btn-outline-secondary.custom-active:hover {
    border-color: rgb(229, 255, 242);
    background-color: rgb(126, 246, 186) !important; /* Slightly more green on hover */
}

.btn-outline-secondary.custom-inactive {
    border-color: rgb(255, 230, 230);
    background-color: rgb(255, 230, 230) !important; /* Hint of pink */
}

.btn-outline-secondary.custom-inactive:hover {
    border-color: rgb(255, 230, 230);
    background-color: rgb(249, 136, 136) !important; /* Slightly more pink on hover */
}

.list-group-item img {
    display: none; /* Add this line to hide the images */
}

.btn i {
    font-size: 20px;
}

.list-group-item i.fas.fa-user-friends {
    margin-right: 10px;
    color: #007bff;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - 150px); /* Adjust height to fit the screen */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
}

.chat-box::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.input-group {
    flex-shrink: 0;
    margin-bottom: 10px; /* Add margin below the input group */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group .form-control {
    flex-grow: 1;
    border-radius: 0.25rem;
}

.input-group .btn {
    border-radius: 0.25rem;
}

@media (max-width: 768px) {
    .chat-box {
        height: calc(100vh - 150px); /* Adjust height to fit the screen */
    }
}

.icon-btn {
    color: grey;
    transition: color 0.3s, box-shadow 0.3s, border-color 0.3s;
    transition: ease-in-out 0.2s;
}

.icon-btn:hover {
    color: var(--bs-primary);
    transition: ease-in-out 0.2s;
}

.icon-btn:active {
    color: var(--bs-primary) !important;
    box-shadow: 0 0 5px 2px var(--bs-primary);
    border: 0px solid var(--bs-primary);
    transition: ease-in-out 0.2s;
    border-radius: 50% !important;
}

.send-btn {
    border-radius: 0 0.25rem 0.25rem 0;
}

.container-fluid {
    height: calc(100vh - 112px); /* Adjust 56px to match your navbar height */
}

.row-full-height {
    height: 100%;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    max-width: 45%;
    display: inline-block;
    word-wrap: break-word;
    position: relative;
}

.message.sent {
    background-color: var(--bs-primary);
    color: white;
    align-self: flex-end;
    margin-left: auto;
}

.message.received {
    align-self: flex-start;
}

.message.sent::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -6px;
    width: 0;
    height: 0;
    border-left: 11px solid var(--bs-primary);
    border-top: 15px solid transparent;
}

.message.received::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -6px;
    height: 0;
    border-right: 11px solid #f1f1f1;
    border-top: 15px solid transparent;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item.active {
    background-color: var(--bs-primary);
    color: white;
    position: relative;
}

.list-group-item.active > i::before {
    color: white;
}

.list-group-item.active::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid var(--bs-primary);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}